<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>740081481366-hl0qsrd4thgnl9o74nnqerrpqs3pp0g1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.740081481366-hl0qsrd4thgnl9o74nnqerrpqs3pp0g1</string>
	<key>API_KEY</key>
	<string>AIzaSyBvDlKY8ywrXoA8wdM4wrCVOOlRsIxccPs</string>
	<key>GCM_SENDER_ID</key>
	<string>740081481366</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.eneff.app.organize</string>
	<key>PROJECT_ID</key>
	<string>organize-1316</string>
	<key>STORAGE_BUCKET</key>
	<string>organize-1316.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:740081481366:ios:e36f4ebc6b820e78</string>
	<key>DATABASE_URL</key>
	<string>https://organize-1316.firebaseio.com</string>
</dict>
</plist>